@media (max-width: 500px) {
  .navbar ul {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .contact-form {
    justify-self: center;
    margin: auto;
    width: 300px;
  }

  .projects .card {
    width: 100%;
  }

  .projects .grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 769px) {
  .menu-icon {
    display: flex;
  }

  .menu-btn:checked ~ .menu-list {
    visibility: visible;
  }
  
  .menu-list {
    visibility: hidden;
  }

  .grid,
  .contact .grid,
  .services .grid,
  .portfolio .grid,
  .footer .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .contact {
    height: auto;
  }

  .contact-text {
    text-align: center;
    margin-top: 40px;
    animation: slideInFromBottom 1s ease-in;
  }

  .contact-form {
    justify-self: center;
    margin: auto;
    animation: slideInFromBottom 1s ease-in;
  }

  .footer .grid {
    text-align: center;
  }

  .footer .social {
    margin-top: 20px;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  .projects .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}