/* Showcase */
.showcase-img {
  background: url('https://source.unsplash.com/random/1920x1080') no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: $nav-color;
  color: $secondary-color;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.showcase__title {
  font-size: 3rem;
  font-weight: 300;
  line-height: 50px;
}

.showcase .flex {
  justify-content: space-between;
}

/* Services */
.services {
  margin-bottom: 3rem;
}

.services__title {
  max-width: 500px;
  margin: 1rem auto;
  padding: 2rem 0;
  text-align: center;
  font-size: 2rem;
}

.block-title {
  font-size: 1.5rem;
}

/* Portfolio */
.portfolio-img {
  background: url('/images/network.jpg') no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, .5);
  background-attachment: fixed;
  width: 100%;
  height: 260px;
  padding: 16px;
  margin-bottom: 30px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio__title {
  font-size: 2rem;
}

.portfolio .flex {
  flex-wrap: wrap;
  overflow: hidden;
}

.portfolio .card {
  padding: 0;
  height: 200px;
  width: 220px;
  perspective: 1000px;
}

.portfolio .card h4 {
  text-align: center;
  border-bottom: 1px solid #333;
}

.portfolio .card img {
  border-radius: 10px;
  height: 200px;
  object-fit: cover;

}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
}

.card-back {
  background-color: whitesmoke;
  transform: rotateY(180deg);
  padding: 10px;
  font-size: 0.85rem;
}

.portfolio .card:hover .card-inner {
  transform: rotateY(180deg);
}

/* Contact */
.contact {
  height: 400px;
  margin-top: 40px;
  margin-bottom: 120px;
  background-color: $secondary-color;
  color: $primary-color;
  position: relative;
}

.contact__title {
  font-size: 2rem;
}

.contact__text {
  padding: 10px 0;
}

.contact .grid {
  overflow: visible;
  grid-template-columns: 55% 45%;
  gap: 30px;
}

.contact-form {
  position: relative;
  top: 60px;
  height: 360px;
  width: 400px;
  padding: 40px;
  z-index: 100;
  justify-self: flex-end;
}

.contact-form .form-control {
  margin: 30px 0;
}
.contact-form textarea,
.contact-form input[type="text"],
.contact-form input[type="email"] {
  border: 0;
  border-bottom: 1px solid rgba($primary-color, .3);
  width: 100%;
  padding: 3px;
  font-size: 16px;
  resize: none;
}

.contact-form textarea:focus,
.contact-form input:focus {
  outline: none;
}

.contact::before,
.contact::after {
  content: '';
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background-color: #fff;
  transform: skewY(-3deg);
}

/* Footer */
.footer {
  padding: 50px 0;
  margin-top: 30px;
  background-color: $primary-color;
}

.footer a {
  color: #fff;
}

.footer .social a {
  margin: 0 10px;
}

.footer .copyright {
  color: #fff;
}